:root {
  --stitch-background: #f8f9ff;
  --stitch-error: #ba1a1a;
  --stitch-error-container: #ffdad6;
  --stitch-inverse-on-surface: #eaf1ff;
  --stitch-inverse-primary: #b6c4ff;
  --stitch-inverse-surface: #213145;
  --stitch-on-background: #0b1c30;
  --stitch-on-error: #ffffff;
  --stitch-on-error-container: #93000a;
  --stitch-on-primary: #ffffff;
  --stitch-on-primary-container: #e3e6ff;
  --stitch-on-primary-fixed: #001551;
  --stitch-on-primary-fixed-variant: #0039b3;
  --stitch-on-secondary: #ffffff;
  --stitch-on-secondary-container: #5c647a;
  --stitch-on-secondary-fixed: #131b2e;
  --stitch-on-secondary-fixed-variant: #3f465c;
  --stitch-on-surface: #0b1c30;
  --stitch-on-surface-variant: #434656;
  --stitch-on-tertiary: #ffffff;
  --stitch-on-tertiary-container: #e5e8ea;
  --stitch-on-tertiary-fixed: #191c1e;
  --stitch-on-tertiary-fixed-variant: #444749;
  --stitch-outline: #737688;
  --stitch-outline-variant: #8c90a3;
  --stitch-primary: #0041c8;
  --stitch-primary-container: #0055ff;
  --stitch-primary-fixed: #dce1ff;
  --stitch-primary-fixed-dim: #b6c4ff;
  --stitch-secondary: #565e74;
  --stitch-secondary-container: #dae2fd;
  --stitch-secondary-fixed: #dae2fd;
  --stitch-secondary-fixed-dim: #bec6e0;
  --stitch-surface: #f8f9ff;
  --stitch-surface-bright: #f8f9ff;
  --stitch-surface-container: #e5eeff;
  --stitch-surface-container-high: #dce9ff;
  --stitch-surface-container-highest: #d3e4fe;
  --stitch-surface-container-low: #eff4ff;
  --stitch-surface-container-lowest: #ffffff;
  --stitch-surface-dim: #cbdbf5;
  --stitch-surface-tint: #004dea;
  --stitch-surface-variant: #d3e4fe;
  --stitch-tertiary: #4d5052;
  --stitch-tertiary-container: #65686a;
  --stitch-tertiary-fixed: #e0e3e5;
  --stitch-tertiary-fixed-dim: #c4c7c9;
}

.dark {
  --stitch-background: #0c1324;
  --stitch-error: #ffb4ab;
  --stitch-error-container: #93000a;
  --stitch-inverse-on-surface: #2a3043;
  --stitch-inverse-primary: #494bd6;
  --stitch-inverse-surface: #dce1fb;
  --stitch-on-background: #dce1fb;
  --stitch-on-error: #690005;
  --stitch-on-error-container: #ffdad6;
  --stitch-on-primary: #1000a9;
  --stitch-on-primary-container: #0d0096;
  --stitch-on-primary-fixed: #07006c;
  --stitch-on-primary-fixed-variant: #2f2ebe;
  --stitch-on-secondary: #490080;
  --stitch-on-secondary-container: #d6a9ff;
  --stitch-on-secondary-fixed: #2c0051;
  --stitch-on-secondary-fixed-variant: #6900b3;
  --stitch-on-surface: #dce1fb;
  --stitch-on-surface-variant: #c7c4d7;
  --stitch-on-tertiary: #640039;
  --stitch-on-tertiary-container: #570032;
  --stitch-on-tertiary-fixed: #3e0022;
  --stitch-on-tertiary-fixed-variant: #8c0053;
  --stitch-outline: #908fa0;
  --stitch-outline-variant: #6b6a7b;
  --stitch-primary: #c0c1ff;
  --stitch-primary-container: #8083ff;
  --stitch-primary-fixed: #e1e0ff;
  --stitch-primary-fixed-dim: #c0c1ff;
  --stitch-secondary: #ddb7ff;
  --stitch-secondary-container: #6f00be;
  --stitch-secondary-fixed: #f0dbff;
  --stitch-secondary-fixed-dim: #ddb7ff;
  --stitch-surface: #0c1324;
  --stitch-surface-bright: #33394c;
  --stitch-surface-container: #191f31;
  --stitch-surface-container-high: #23293c;
  --stitch-surface-container-highest: #2e3447;
  --stitch-surface-container-low: #151b2d;
  --stitch-surface-container-lowest: #070d1f;
  --stitch-surface-dim: #0c1324;
  --stitch-surface-tint: #c0c1ff;
  --stitch-surface-variant: #2e3447;
  --stitch-tertiary: #ffb0cd;
  --stitch-tertiary-container: #f751a1;
  --stitch-tertiary-fixed: #ffd9e4;
  --stitch-tertiary-fixed-dim: #ffb0cd;
}
